/* Subtle scrollbar styling */
::-webkit-scrollbar {
    width: 8px; /* Width for vertical scrollbar */
    height: 8px; /* Height for horizontal scrollbar */
}

/* Styles the draggable handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-shade-1); /* shade-1 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-shade-lighter); /* shade-lighter */
}

/* Styles the track (the area the thumb scrolls on) */
::-webkit-scrollbar-track {
  background-color: var(--color-shade-2); /* shade-3 */
}

/* Styles the corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: var(--color-shade-2); /* shade-3 */
}

/* Styles the buttons (arrows) on the scrollbar */
::-webkit-scrollbar-button {
  background-color: var(--color-shade-2); /* shade-3 */
}